name: Test

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths:
      - 'src/**'
      - 'tests/**'
      - '.github/workflows/test.yaml'
      - 'pyproject.toml'
  pull_request:
    paths:
      - 'src/**'
      - 'tests/**'
      - '.github/workflows/test.yaml'
      - 'pyproject.toml'
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Poetry
        run: |
          python -m pip install --upgrade pip poetry

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Start PostgreSQL in Docker
        run: |
          docker run -d --name postgres -p 5432:5432 docker.io/postgres:16
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: postgres

      - name: Add PostgreSQL to /etc/hosts
        run: |
          echo "127.0.0.1 postgres" | sudo tee -a /etc/hosts

      - name: Install dependencies
        run: |
          poetry install --with test

      - name: Wait for PostgreSQL to be ready
        run: |
          until pg_isready -h postgres -p 5432; do
            echo "Waiting for PostgreSQL to be ready..."
            sleep 5
          done

          docker ps -a
          docker logs postgres

      - name: Run tests
        run: |
          poetry run pytest
